$primary: #c2eaff;

.text-center {
    background-color: $primary;
    margin: 12px;
}

.header-item {
    font-size: large;
    font-weight: bold;
}

.text-muted {
    font-weight: bold;
}

.btn-Edit {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 5px 20px;
    font-size: 12px;
}